

<h2><%=company%></h2>
<%
if(company === 'browse' ) {
	var msg = 'A list of the most recent emails copied to cc@yourproblemshared.com:';
}else {
	var msg = 'The most recent problems sent to '+company; 
}
%>
<p><%=msg%></p>
<div>

<%
var c = data.length;

while(c--) {
		var email = data[c];
			%>
			<div class="email resolved<%=email.resolved%>" >
				<div class="wrapper">
				<img src="/assets/img/email.png" width="100" class="floatRight">

				<a href="<%=urls.get('EMAIL', { id: email.id, company: email.company })%>">
				<h4><%=encoder.htmlDecode(unescape(email.subject))%></a></h4>
					<%
				if(email.htmlBody === "") { // no html so use text in pre
					%>
						<pre>
						<%-unescape(email.textBody.replace(new RegExp(email.fromEmail, 'g'), '[details removed]'))%>
						</pre>
					<%
				}else { // use html
					%>
					<%-encoder.htmlDecode(unescape(email.htmlBody.replace(new RegExp(email.fromEmail, 'g'), '[details removed]')))%>
					<%
				}
				%>
			</div>
			<div class="footer">
				<%
     		if(email.resolved === 1) {
            	var msg = 'Problem was resolved  '+moment(+email.resolvedEpoch).fromNow()
        	}else {
            var msg = 'Problem reported to <a href="/'+email.company+'">'+email.company+'</a> '+moment(new Date(unescape(email.date))).fromNow() + ' and remains <strong>unresolved</strong>. :('
     	   }
				%>

<%-msg%></div>
			</div>
<%
}
%>

</div>