
<div class="companyWrapper">
	<div class="company companyImg"><img src="<%=companyLogo%>"></div><h2><%=companyName%></h2>
<%
if(company === 'Browse' ) {
	var msg = 'A list of the most recent emails copied to cc@yourproblemshared.com:';
}else {
	%>
<script>
	if($('.companyImg').children().length == 0) {
	$.get('/<%=company%>/logo', function(data) {

		$('.companyImg').append('<img src="'+data.responseData.results[0].unescapedUrl+'"/>');
	});

	}
</script>
<strong><%=+totals.resolved  %> of <%=+totals.unresolved + +totals.resolved%>  Resolved</strong><br />
	<%


	var msg = ''; 
}
%>
<p><%=msg%></p>
</div>
<div>

<%
var c = data.length;
while(c--) {
		var email = data[c];
			%>
			<div class="email resolved<%=email.resolved%>" >
				<div class="wrapper">
				<img src="/assets/img/email.png" width="100" alt="Email" class="floatRight">

				
				<h4><a href="<%=urls.get('EMAIL', { id: email.id, company: email.company })%>"><%=encoder.htmlDecode(unescape(email.subject))%></a></h4>
					<%
				if(email.htmlBody === "") { // no html so use text in pre
					%>
						<pre>
						<%-unescape(email.textBody.replace(new RegExp(email.fromEmail, 'g'), '[details removed]'))%>
						</pre>
					<%
				}else { // use html
						var a  = encoder.htmlDecode(unescape(email.htmlBody.replace(new RegExp(email.fromEmail, 'g'), '[details removed]')));
					%>
					<%-a%>
					<%
				}
				%>
			</div>
			<div class="footer">
				<%
     		if(email.resolved === 1) {
            	var msg = 'Resolved  '+moment(+email.resolvedEpoch).fromNow()
        	}else {
            var msg = 'Reported to <a href="/'+(email.companyUrl || email.company)+'">'+(email.companyName||email.company)+'</a> '+moment(new Date(unescape(email.date))).fromNow() + ' and remains <strong>unresolved</strong>'
     	   }
				%>

<%-msg%></div>
			</div>
<%
}
%>

</div>