<h2>Browse</h2>
<p>
A list of the most recent emails copied to cc@yourproblemshared.com:
</p>
<div>

<%
var c = data.length;
while(c--) {
		var email = data[c];
			%>
					<div class="email">
										<img src="/assets/img/email.png" width="100" class="floatRight">

			<a href="<%=urls.get('EMAIL', { id: email.id, company: email.company })%>">
			<h4><%=encoder.htmlDecode(unescape(email.subject))%></a></h4>
			<h5><%=encoder.htmlDecode(unescape(email.company))%></h5> 
			<%-encoder.htmlDecode(unescape(email.htmlBody))%>
			<%
			var out = email.htmlBody.replace(new RegExp(email.fromEmail, 'g'), '[details removed]');
			%>

			<strong class="floatRight"><%-moment(new Date(unescape(email.date))).fromNow()%></strong>

			</div>
<%
}
%>

</div>